body {
    font-family: 'Cardo', serif;
   }
   
   h1, h2, h3, h4, h5, h6 {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
   }
   @media only screen 
    and (device-width : 375px) 
    and (device-height : 812px) 
    and (-webkit-device-pixel-ratio : 3) { }
body{
    background-color: white;
}
h1{
    display: flex;
    display: center;
}

.container1{
    margin-left:0 auto;
    margin-right : 0 auto;
    
}

header{
    background-color:white;
height: 60px ;
width: 896px ;
margin: 10px ;
}

nav {
    background-color:yellow;
    
    height: 40px ;
    width: 896px ;
}

.nav-links{
    list-style: none;
    display: inline-grid;
    height: 40px;
    width: 90px;
}
button{
    background-color:yellow;
    font-family:'Oswald', sans-serif;
    text-transform: uppercase;
    border: 2.5px;
    border-color:black;
}

main{
    background-color:white;
    height: 540px ;
    width: 896px ;
    margin: 0 auto;

}
#imagelist {
    font-size: 0;
    width: 375px;
    margin: 0 auto;
}
#imagelist {

    padding: 1px;
    margin: 0px;
    border: 0px solid transparent;
    display: inline-block;
    display:center;
    border-radius: 10px ;
    opacity: .5;
}
#imagelist:hover{
    border-color:white;
    opacity: 1;
}
img{
    height: 180px ;
    width: 180px ;
}
footer {
    background-color:yellow;
    height: 180px ;
    width: 896px ;
    margin: 0px;
    padding: 15px;

}
footer>h2 {
    padding-left: 20px;
    margin-top: 10px;
}
