body {
    font-family: 'Cardo', serif;
   }
   
   h1, h2, h3, h4, h5, h6 {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
   }
   @media only screen 
    and (device-width : 375px) 
    and (device-height : 812px) 
    and (-webkit-device-pixel-ratio : 3) { }
body{
    background-color: white;
}
h1{
    display: flex;
    display: center;
}
.container1{
    margin-left:0 auto;
    margin-right : 0 auto;
    
}

header{
    background-color:white;
height: 70px ;
width: 896px ;
}

nav {
    background-color:yellow;
    height: 40px ;
    width: 896px ;
}
main{
    background-color:white;
    height: 400px ;
    width: 896px ;
    margin: 0 

}
#imagelist {
    font-size: 0;
    width: 375px;
    margin: 0 auto;
}
#imagelist {
    margin: 2px;
    border: 2px solid transparent;
    display: inline-block;
    border-radius: 10px ;
    opacity: .5;
}
#imagelist:hover{
    border-color:white;
    opacity: 1;
}
img{
    height: 180px ;
    width: 180px ;
}
footer {
    background-color:white;
    height: 100px ;
    width: 896px ;
}
